<!doctype html>
<html lang="en" ng-csp="" ng-app="babynames" ng-cloak="true">

  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jobs Monitor</title>
    <meta name="description" content="Error logs redone in AngularJS">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/assets/style/style.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/superhero.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/angular-csp.css" />
    <link rel="stylesheet" type="text/css" href="static/assets/css/angular-chart.css" />
  </head>
  
  <body style="width:100%;height:100%">
    <div ng-controller="JobMonControl as jm">
      <div style="margin-left:50px;margin-bottom:30px;margin-top:5px">
        <div style="display:inline;">
          <h2 style="display:inline;margin-right:15px;" class="pull-left"><b>Jobs Monitor</b></h2>
          <div class="dropdown" style="display:inline;">
         
            <button style="display:inline;margin-left:25px;margin-top:19px;" class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">{[ queue_selected ]}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="queue in queues" ng-click="setSelectedQueue(queue)" value="queue"><a href="#">{[ queue ]}</a></li>
            </ul>
          </div>
          <div style="display:inline;margin-right:15px;" ng-show="addMessage !== undefined"  class="pull-left">{[ addMessage ]}</div>
        </div>
        <div style="display:inline;">
          <button style="display:inline;margin-left:25px;margin-top:19px;" type="button" ng-click="queue_jobs(1000)" class="btn btn-warning">Add Jobs</button>
          <button style="display:inline;margin-left:25px;margin-top:19px;" type="button" ng-click="flushRedis()" class="btn btn-primary">Flush Redis</button>
          <button style="display:inline;margin-left:25px;margin-top:19px;" type="button" ng-click="getKpiData()" class="btn btn-primary">
            <span class="glyphicon glyphicon-th-list"></span>
          </button>
        </div>
        <div style="display:inline;">
          <h4 style="display:inline;margin-right:15px;margin-top:27px;" class="pull-right "> Fail: {[ failed_count ]}% </h4>
          <h4 style="display:inline;margin-right:15px;margin-top:27px;" class="pull-right "> Requeued: {[ requeued ]} &nbsp; | </h4>
          <h4 style="display:inline;margin-right:15px;margin-top:27px;" class="pull-right "> Completed: {[ completed ]}&nbsp; | </h4>
          <h4 style="display:inline;margin-right:15px;margin-top:27px;" class="pull-right "> Running: {[ running ]} &nbsp; | </h4>
          <h4 style="display:inline;margin-right:15px;margin-top:27px;" class="pull-right "> Enqueued: {[ queue_count ]} &nbsp; | </h4>
        </div>
      </div>
      <div id="chart" style="height:75%;width:85%;align:center;margin-left:auto;margin-right:auto">
        <div ng-show="showKpis">
          <ul>
            <li>Total Time (Seconds): {[ kpiData.totalSeconds ]}</li>
            <li>Total Jobs: {[ kpiData.total ]}</li>
            <li>Max (seconds): {[ kpiData.max ]}</li>
            <li>Mean (seconds): {[ kpiData.mean ]}</li>
            <li>Median (seconds): {[ kpiData.median ]}</li>
            <li>Rare Count: {[ kpiData.rareCount ]}</li>
            <li>Rare %: {[ kpiData.rarePercent ]}</li>
            <li>Standard Deviation (seconds): {[ kpiData.standardDeviation ]}</li>
          </ul>
        </div>
        <canvas
           ng-show="showChart"
           id="rightbox"
           class="chart chart-line chart-xl ng-isolate-scope"
           chart-legend="true"
           chart-data="chartData"
           chart-options="options"
           chart-labels="chartLabels"
           chart-series="chartSeries">
        </canvas>
        <h5>
          <center>repo for this junker can be found <a href="https://github.com/vacoj/Bumpkin"> here</a>.</center>
      </h5>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="static/assets/js/angular.min.js"></script>
  <script type="text/javascript" src="static/assets/js/Chart.js"></script>
  <script type="text/javascript" src="static/assets/js/angular-chart.js"></script>
  <script type="text/javascript" src="static/assets/js/angular-route.min.js"></script>
  <script type="text/javascript" src="static/assets/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/assets/js/ui-bootstrap-tpls-0.14.1.min.js"></script>
  <script type="text/javascript" src="static/app/jobmon.js"></script>
  <script type="text/javascript" src="static/assets/js/moment.min.js"></script>
  <script type="text/javascript" src="static/assets/js/angular-cookies.min.js"></script>
</html>
